div#background{
    background-color: rgb(238, 238, 235);
}
h3.header{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate; 
}
.crystal{
    float: left;
    border: 3px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;
    height: 250px;
    width: 175px;
    margin: 20px;

    }
.comp-box{
    height: 50px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: blue;
    }
p   {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: blue;
    }