div#background{
    background-color: rgb(238, 238, 235);
}
h3.header{
    font-size: 27px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 86, 3);
    text-transform: uppercase;
    font-weight: 600;
}
.crystal{
    float: left;
    border: 3px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;
    height: 220px;
    width: 175px;
    margin: 20px 0 10px 20px;

    }
.comp-box{
    height: 50px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: blue;
    }
p   {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 30px !important;
    color: blue;
    font-weight: 900 !important;
    margin: 5px;
}
div#score-board{
    border-left: 4px;
    border-color:rgb(118, 118, 118);
    border-style: solid;
    width:70px;
    height: 250px;
    padding-top: 30px;
    margin: 20px 0 0 0;
    }